AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_EMBEDDING_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
DB_URI="postgresql://<username>:<password>@localhost:5432/<db_name>"
CLERK_SECRET_KEY=""
QDRANT_URL=
QDRANT_API_KEY=